html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#bar {
     z-index: 1;
     display:grid;
     position:fixed;
     top:0px;
     left:0px;
     width: 20%;
     height: 100%;
     background: red;
}
#top {
     z-index: 2;
     display:grid;
     position:fixed;
     top:0px;
     left:0px;
     width: 100%;
     height: 15%;
     background: blue;
}
#nice {
     font-family: Comic Sans MS, Helvetica, sans-serif;
     font-weight: bold;
     position: relative;
     font-size: 100px;
     text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd, 5px 5px 8px rgba(206,0,0,0);
}

#bar ul {
    font-family: Comic Sans MS, Helvetica, sans-serif;
    position:absolute;
    font-size: 20px;
    top: 20%;
    left: 15%
}
#top h1 {
    font-family: Comic Sans MS, Helvetica, sans-serif;
    left: 2%;
    position: relative;
    color: white;
    font-size: 50px;
}
#content {
    z-index: 1;
    position:relative;
    margin-left:20%;
    margin-top: 7%;
    width: 100%;
    height: 1000vh;
}
li#current {
    font-family: Comic Sans MS, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: white;
}
a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    color: white;
}